name: our-pipeline
on:
  push:
    branches:
      - develop
      - test
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v2
      - run: flutter pub get
      - name: testing deleteing files
        run: flutter test --platform chrome test/deleting_files_test.dart
      - name: testing exporting files
        run: flutter test --platform chrome test/export_files_test.dart
      - name: testing switching between reports
        run: flutter test --platform chrome test/switching_between_reports_test.dart
      - name: testing uploading files
        run: flutter test --platform chrome test/uploading_files_test.dart
      - name: testing writing inside application
        run: flutter test --platform chrome test/writing_inside_application_test.dart

